body {
  margin: .50em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

button {
  margin: .5em;
  padding: 5px;
}

.cat-container {
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.header {
  justify-content: center;
}